doctype html
html
  head
    title Jerry dance academy
    block scripts
    block style
  body
     nav#navbar
        ul 
           div#logo
                //-   img(src="/static/img/logo2.png")
                  | JDA
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") Services]
                li #[a(href="/") class-Info]
                li #[a(href="/contact") Contact us]
      
  block content
  footer#footer 
    |copyright © 2021 jerrydanceacademy.com | All rights Reserved